<center>
    
    
# Curso de Python básico
## Instituto Mexicano del Petróleo

### Dra. Gabriela Berenice Díaz Cortés (gbdiaz@imp.mx)

### Dr. Luis Antonio López Peña (llopezp@imp.mx) 

#### Dirección de Investigación en Exploración y Producción
#### Gerencia de Ingeniería de Yacimientos

## **Introducción a Python**

* **Python**
    - Instalación de Python
    - Formas de ejecutar un código (desde consola o IDE)
    - IDE más comunes
    - Colaboratory

* **Definición de variables**
    - Palabras restringidas
    - Números enteros y reales
    - Carácteres
    - Leer datos de terminal
    - Conversiones de datos

* **Tipos de objetos en Python**
    - Tuplas
    - Listas
    - Diccionarios
    - Conjuntos

# Python
Python es un lenguaje de programación libre orientado a objetos, desarrollado a finales de los 80's. Desde su creación se sigue desarrollando y refinando. 
Algunas referencias son:
* Sitio web con manuales y más información: https://www.python.org/about/, http://docs.python.org/py3k/tutorial.
* Introduction to Python for Computational Science and Engineering, Hans Fangohr
* Python, Chris Fehly (Peachpit Press, CA, 2nd ed.)
* Python Essential Reference, David M. Beazley (Addison-Wesley, 4th ed.)
* Primer on Scientific Programming with Python, Hans P. Langtangen (Springer-Verlag, 2009)

## Instalación
Para ejecutar un código escrito en Python se recomienda usar un IDE (integrated development environment), es un paquete de software que tiene las herramientas básicas necesarias para escribir y probar software. Los IDE's incluyen un editor de código, un compilador, un depurador y un entorno gráfico. 

En este curso usaremos la distribución gratuita [Anaconda][], que contiene el IDE Spyder y el block de notas [Jupyter][], que es un ambiente computacional interactivo, en donde se combina texto, se ejecuta codigo, y se obtienen graficas. 


Los pasos del instalador se encuentran en este sitio https://www.anaconda.com/distribution/

Para utilizar el block de notas [Jupyter][], se pueden consultar los siguientes manuales: [Jupyter_manual] y [Jupyter-notebook].

[Spyder]:   https://www.spyder-ide.org/
[Anaconda]: https://www.anaconda.com/
[Jupyter]:  https://jupyter.org/
[Python 3.7]: https://repo.anaconda.com/archive/Anaconda3-2019.03-MacOSX-x86_64.pkg
[Jupyter_manual]: https://jupyter.brynmawr.edu/services/public/dblank/Jupyter%20Notebook%20Users%20Manual.ipynb
[Jupyter-notebook]:https://buildmedia.readthedocs.org/media/pdf/jupyter-notebook/latest/jupyter-notebook.pdf
[IBM_Jupyter]: https://www.ibm.com/support/knowledgecenter/en/SSGNPV_1.1.3/dsx/markd-jupyter.html
[Other]: https://sourceforge.net/p/jupiter/wiki/markdown_syntax/


### Formas de ejecutar el código 

## Creación de entornos virtuales

Para instalar librerías se recomienda crear un **entorno virtual** e instalar las librerías requeridas para cada proyecto en el entorno correspondiente al proyecto en cuestión.


### Entorno virtual en terminal
Para crear un entorno virual en linux o en la terminal de windows se abre la terminal, en el caso de windows la terminal se encuentra en *Anaconda Prompt*, una vez abeierta la terminal, los pasos a seguir son los siguientes:

<img src="https://github.com/gbdiazc/Images/blob/f2031a840a330db98a65ac392e85a34acd040904/anaconda_promt.png?raw=1" width="600">

1.   Crear entorno virtual: 

`\$conda create -n my_env`


2.   Activar entorno virtual:

`\$conda activate my_env`


### Entorno virtual en Anaconda navigator

Se crea un entorno virtual con python

<img src="https://github.com/gbdiazc/Images/blob/da07a190294b9890e4fb4490980932bbec822524/new_env.png?raw=1" width="600">

<img src="https://github.com/gbdiazc/Images/blob/128288561942927b5377a6431a50a112d302e077/Continue.png?raw=1" width="400">

#### IDEs

##### Spyder 

<img src="https://github.com/gbdiazc/Images/blob/da07a190294b9890e4fb4490980932bbec822524/spyder.png?raw=1" width="600">

    
    Se guarda el archivo exemplo.py

    Boton de correr 

<img src="https://github.com/gbdiazc/Images/blob/da07a190294b9890e4fb4490980932bbec822524/spyder1.png?raw=1" width="600">

Jupyter Notebook (Colaboratory)
    
    Se crea el archivo file.ipynb
    
    Se crea una nueva celda de código

    Boton de correr 


#### Desde consola (linux) con archivos .py

    Se crea el archivo file.py

    Se carga el ambiente virtual que contiene python

    Se escribe en terminal 
        
        python file.py

# Palabras restringidas

Los lenguajes de programación reservan ciertas palabras que tienen un significado especial. Estas palabras se llaman palabras clave "keywords".
Con estas palabras el programador puede emitir comandos para el compilador o intérprete, estas palabras clave son palabras reservadas que no sepueden usar como nombres de variables.
Las palabras clave más importantes de Python son las siguientes:

\begin{array}{c c c c} 
False & True& and & or   \\ 
not & break & continue & class\\
def & if & elif & else \\ 
for & while & in & is\\ 
None & lambda& return& len\\
del & type & str & float\\
int &  &  & \\
\end{array}

In [ ]:
1 > 2

False

In [ ]:
2 > 1

True

In [ ]:
x, y = True , False
(x or y)

True

In [ ]:
(x and y)

False

In [ ]:
( not y)

True

In [ ]:
42 in [ 2 , 39 , 42 ]

True

In [ ]:
y = x = 3
x is y

True

In [ ]:
[3] is [3]

False

In [ ]:
[3] == [3]

True

In [ ]:
[1] in [[3],[2]]

False

In [ ]:
3 in [3]

True

In [ ]:
len([ 2 , 39 , 42, 2 ] )

4

## Definición de variables
En python se pueden usar variables tipo entero, flotantes, caractéres, etc. Para definir una variable como flotante se usa un punto (__numero.0__ ), y para caractéres se usan comillas (**'carácter'** o **''carácter''**). Para ver que tipo de variable es, se utiliza la funcyón **type**.

In [ ]:
b = 2        # b entero
print(b, type(b))

2 <class 'int'>

In [ ]:
b = 2.0      # b flotante 
print(b, type(b))

2.0 <class 'float'>

In [ ]:
b = '2.0'  # b es un caracter 
print(b, type(b))

2.0 <class 'str'>

## Challenge break
### 1
Asignar el valor 2 a la variable x y el valor 3 a la variable y e imprimirlas

Sumar ambas variables en z e imprimirla

Borrar la variable x e imprimir todas las variables

In [ ]:
# Este es un comentario
x = 2
y = 3
print("x: ",x)
print("y: ",y)

x:  2
y:  3

In [ ]:
z = x + y
print("z: ",z)

z:  5

In [ ]:
del x
print("x: ",x)
print("y: ",y)
print("z: ",z)

NameError: ignored

### 2 
Dados x = 10 and y = 3, calcular las siguientes operaciones e imprimir los resultados

```
u = x + y
v = x*y
w = x/y
z = x - y
r = x**2
s = y*3
p = x**y
```

In [ ]:
# Respuesta
x = 10
y = 3
u = x+y
v = x*y
w = x/y
z = x-y
r = x**3
s = y*3
p = x**y
print('x: ' ,x)
print('y: ', y)
print('u = x+y: ',u)
print('v = x*y: ',v)
print('w = x/y: ',w) 
print('z = x-y: ',z)
print('r = x**2: ',r)
print('s = x*3: ',s)
print('p = x**y: ',p)

x:  10
y:  3
u = x+y:  13
v = x*y:  30
w = x/y:  3.3333333333333335
z = x-y:  7
r = x**2:  1000
s = x*3:  9
p = x**y:  1000

### 3 
Contar el número de letras que tiene la siguiente oración e imprimir la oración, seguida del número de letras que tiene, 

    x = "Instituto Mexicano del Petróleo" 
    
    y = "Tu nombre completo"

In [ ]:
# Respuesta
x = 'Instituto Mexicano del petróleo'
print(len(x))

31

In [ ]:
x = 'Gabriela Berenice Díaz Cortés'
print(len(x))

29

In [ ]:
2e3

2000.0

### Caracteres (Strings)
Los caracteres se pueden crear de las siguientes formas

1. Comillas simples

**s = 'caracter'**

2. Comillas dobles

**s =  "caracter"**

3. Comillas triples (multi-linea)
**s = 
"""caracter**

**numero uno"""**

4. Metodo de caracter

**s = str(5 ) ==  '5'**

5. Concatenacion

**s ="Nom" +  "bre"**

In [ ]:
#1. Comillas simples

s = 'caracter'

print(s,type(s))

caracter <class 'str'>

In [ ]:
#2. Comillas dobles

s =  "caracter"

print(s,type(s))

caracter <class 'str'>

In [ ]:
#3. Comillas triples (multi-linea)

s = """Este es un caracter

Para un 

texto mas 

largo"""

print(s,type(s))

Este es un caracter

Para un

texto mas

largo <class 'str'>

In [ ]:
#4. Metodo de caracter
n = 5
print(n,type(n))
s =  str(n)
print(s,type(s))
t = str(2)
print(int(s)+int(t))

5 <class 'int'>
5 <class 'str'>
7

In [ ]:
# 5. Concatenacion

s ="Ma" +  "rio"

print(s,type(s))

Mario <class 'str'>

# Espacios en blanco

    * Línea Nueva línea \n
    * Tab \t

In [ ]:
s ="Nombre: Mario, Edad: 5"

print(s)

Nombre: Mario, Edad: 5

In [ ]:
s ="Nombre: Mario,\nEdad:\t 5"

print(s)

Nombre: Mario,
Edad:	 5

In [ ]:
## Indexing & Slicing
s = "La persona más joven tiene 11 años"
print(s[0])

L

In [ ]:
print(s[0:4])

La p

In [ ]:
print(s[-1])

's'

In [ ]:
print(s[-3:-1])

ño

In [ ]:
print(s[-2:])

os

In [ ]:
x = s.split()
print(x)

['La', 'persona', 'más', 'joven', 'tiene', '11', 'años']

In [ ]:
print(x[-2] + " "+ x[-1] + " "+x[-3] + "s")

11 años tienes

In [ ]:
import re # regular expressions
m = re.split(r'\W+', s)
print(m)

['La', 'persona', 'más', 'joven', 'tiene', '11', 'años']

In [ ]:
m[0]

'La'

In [ ]:
m[0:3]

['La', 'persona', 'más']

In [ ]:
m[-3:-1]

['tiene', '11']

In [ ]:
m[-3:]

['tiene', '11', 'años']

In [ ]:
s = m[0]+m[1]
print(s)

Lapersona

In [ ]:
s = m[0]+" "+ m[1]
print(s)

La persona

In [ ]:
# Minusculas
s = "La persona más joven tiene 11 años"
print(s.lower())

la persona más joven tiene 11 años

In [ ]:
# Mayusculas
print(s.upper())

LA PERSONA MÁS JOVEN TIENE 11 AÑOS

In [ ]:
s = "smartphone"
print(s.startswith("smart" ))

True

In [ ]:
print(s.endswith("phone"))

True

In [ ]:
s = "another"
print(s.find("other"))

2

In [ ]:
print(s[2:])

other

In [ ]:
s = "chechatch"
print(s.replace("ch", "m"))

mematm

In [ ]:
print(''.join(["F", "B", "I"]))

FBI

In [ ]:
print(len("earth"))

5

In [ ]:
print("ear"in"earth")

True

## Challenge break

Asigne la cadena 'HOLA' a la variable s1 y la cadena 'hola' a la variable s2. Usa el operador *==* para mostrar que no son iguales. 

Mostrar que s1 y s2 son iguales si se usa el método *s1.lower()* en s1. 

Mostrar que s1 y s2 son iguales si se usa el método *s2.upper()* en s2

In [ ]:
# Respuesta
s1 = 'HOLA'
s2 = 'hola'

s1 == s2

False

In [ ]:
s1 = s1.lower()

s1 == s2

True

In [ ]:
s1 = s1.upper()
s2 = s2.upper()

s1 == s2

True

## Leer datos de terminal
En python se pueden leer datos de teclado con la función **input()**. 
Esta funcion lee todo como cadenas de texto.

In [ ]:
# Leer texto
texto = input()
print("Se leyo el siguiente texto: ",texto)
print("De tipo ",type(texto))

2.0
Se leyo el siguiente texto:  2.0
De tipo  <class 'str'>

In [ ]:
# Además, la función input puede tener un parámetro indicando al usuario que debe ingresar
mes = input("Ingrese mes: ")
print("Se leyo el siguiente mes: ",mes)
print("De tipo ",type(mes))

Ingrese mes: Marzo
Se leyo el siguiente mes:  Marzo
De tipo  <class 'str'>

# CASTING (Conversiones de tipo de dato)
Si la función **input()** lee un texto y queremos que lo convierta en entero, se hace una conversion con la funcion **int()**.

In [ ]:
numero = input()
print("Se leyo: ",numero)
print("De tipo ",type(numero))

2
Se leyo:  2
De tipo  <class 'str'>

In [ ]:
# Se convierte en entero
entero = int(numero)
print("El numero leido : ",entero)
print("Se convirtio en tipo ",type(entero))

El numero leido :  2
Se convirtio en tipo  <class 'int'>

In [ ]:
# Version simplificada
entero = int(input())
print("El numero leido : ",entero)
print("Se convirtio en tipo ",type(entero))

2
El numero leido :  2
Se convirtio en tipo  <class 'int'>

Si queremos que lo convierta en decimales, se hace una conversion con la funcion **float()**.

In [ ]:
numero = input()
print("El numero leido : ",numero)
print("Es de tipo ",type(numero))

decimal = float(numero)
print("El numero leido en decimal: ",decimal)
print("Se convirtio en tipo ",type(decimal))

10
El numero leido :  10
Es de tipo  <class 'str'>
El numero leido en decimal:  10.0
Se convirtio en tipo  <class 'float'>

In [ ]:
# Version simplificada
decimal = float( input())
print("Numero leido : ",decimal)
print("Se convirtio en tipo ",type(decimal))

10
Numero leido :  10.0
Se convirtio en tipo  <class 'float'>

## Challenge break 
### 4
Realiza un código que tome 2 numeros dados por un usuario y verifique si la suma es menor, mayor o igual que 5

In [ ]:
# Respuesta
print ("Da el primer número")
first = input()
print ("Da el segundo número")
second = input()
sum = float(first)+float(second)
print ("La suma es mayor que 5:",sum>5)
print ("La suma es igual a 5:",sum==5)
print ("La suma es menor a 5:",sum<5)

Da el primer número
1
Da el segundo número
2
La suma es mayor que 5: False
La suma es igual a 5: False
La suma es menor a 5: True

In [ ]:
x = 2.0
print ("La suma es menor a 5:",5,"caracter",x)

La suma es menor a 5: 5 caracter 2.0

#### 5
Realizar un código que lea dos números de terminal y una operación, y que imprima la operación que se está realizando, asi como los resultados, elegir una de las siguientes operaciones:

    "+"

    "-"

    "*"
    
    "/"

In [ ]:
# Respuesta
print ("Da el primer número")
first = input()
print ("Da el segundo número")
second = input()
operation = input() # suma
result = float(first) + float(second)
print(first + operation +second +" = ",result)

Da el primer número
1
Da el segundo número
2
+
1+2 =  3.0

# Objetos en Python
Python tiene dos tipos de objetos para manejar varios números o secuencias de caractéres.
* **Listas: b = [0, 1, 2, 3, 'cuatro', 'cinco']**
* **Tuplas (Tuples): b = (0, 1, 2, 3, 4, 5)**

En Python, el primer elemento es el cero **(0)**, si la lista o el carácter contiene **(N)** elementos, el último elemento es el __N-1__. Un elemento de una lista o un carácter se obtiene usando parentesis cuadrados **(variable[numero de elemento])**. La principal diferencia entre una tupla y una lista, es que las tuplas son inmutables, es decir nos e pueden modificar.

In [ ]:
# Listas
List  = ['string', 1, 2]               # Crear una lista
print(List)

['string', 1, 2]

In [ ]:
print(List[0],type(List[0]))           # Selecciona el primer elemento de la lista

string <class 'str'>

In [ ]:
print(List[2],type(List[2]))           # Selecciona el último elemento de la lista

2 <class 'int'>

In [ ]:
print(List[0:2])                       # Selecciona los primeros dos elementos con posición 0 y 2 sin el último elemento (2)

['string', 1]

In [ ]:
List2 = [[3, 4],List]                  # Hacer una lista de listas
print(List2 )

[[3, 4], ['string', 1, 2]]

In [ ]:
List2.append(1)                        # Agregar el valor de 1 a la lista
print(List2 )

[[3, 4], ['string', 1, 2], 1, 1]

In [ ]:
List2.append("a")                      # Agregar el string "a" a la lista
print(List2 )

[[3, 4], ['string', 1, 2], 1, 1, 'a']

In [ ]:
List2.insert( 2 , "b" )               # Agregar el string "b" en la posicion 2 de la lista
print(List2 )

[[3, 4], ['string', 1, 2], 'b', 1, 1, 'a']

In [ ]:
List2.insert( 4 , 10 )                # Agregar el valor de 10 en la posicion 4 de la lista
print(List2 )

[[3, 4], ['string', 1, 2], 'b', 1, 10, 1, 'a']

In [ ]:
List2.remove(10)                      # Quitar el valor de 1 de la lista
print(List2 )

[[3, 4], ['string', 1, 2], 'b', 1, 1, 'a']

In [ ]:
List2.reverse()                       # Invertir el orden de la lista
print(List2 )

['a', 1, 1, 'b', ['string', 1, 2], [3, 4]]

In [ ]:
List = [10,130,14,1,16]
List.sort()                           # Ordenar la lista
print(List)

[1, 10, 14, 16, 130]

In [ ]:
idx = List.index(10)                  # Encontrar el indice del elemento que tiene valor 10 en la lista 
print(idx)

1

In [ ]:
List = [10,130,14,1,10,16,19,10]
idx =List.index(10,5)               # Encontrar el indice del elemento que tiene valor 10 en la lista 
print(idx)                          # despues de la posicion 2

7

## Challenge break

### 6
Crear una lista *lista_a* con los números  [1, 2, 3, 4, 20, 6, 7, 8, 9, 10], imprir y agregar el número 5 y quitar el 20, imprimir la lista

Ordenar la lista *lista_a* de forma ascendente e imprimirla

Encontrar el indice del elemento que tiene valor 1 en la lista

In [ ]:
# Respuesta
list_a = [1,2,34,20,6,7,8,9,10]
print(list_a)

In [ ]:
list_a.append(5)
print(list_a)

In [ ]:
list_a.remove(20)
print(list_a)

### 7
Escribe tu nombre completo y separalo en una lista que contenga todos los elementos de tu nombre

In [ ]:
# Respuesta
Nombre = 'Luis Antonio López Peña'
print(Nombre)
print(type(Nombre))

In [ ]:
Lista = Nombre.split()
print(Lista)
print(type(Lista))

# Conjuntos: 
Coleccion desordenada de elementos unicos

In [ ]:
basket = {'apple', 'eggs','banana', 'orange'}

In [ ]:
same = set(['apple', 'eggs','banana', 'orange' ])
print(basket == same)
print(type(same))

True
<class 'set'>

In [ ]:
same = set([ 'banana', 'eggs','apple','orange' ])
print(basket == same)

True

## Challenge break 
### 8
Crear un conjunto "C" con todas las letras del diccionario en español, imprimir el conjunto "C"

Contar los elementos de "C" e imprimir el tamaño de este conjunto

In [ ]:
# Respuesta
C = {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'}
print("C: ",C)
print("type(C): ",type(C))

C:  {'A', 'I', 'H', 'B', 'F', 'C', 'E', 'D', 'G'}
type(C):  <class 'set'>

In [ ]:
NC = len(C)
print("len(C): ",NC)

len(C):  9

## Diccionarios: 
Estructura de datos útil para guardar parejas ordenadas

**(key, value)**

In [ ]:
calories = {'apple': 52,
            'banana': 89,
            'choco': 546,
            'correo': "gbdiaz@imp.mx"}
print(calories,type(calories))

{'apple': 52, 'banana': 89, 'choco': 546, 'correo': 'gbdiaz@imp.mx'} <class 'dict'>

In [ ]:
my_data_1={'Nombres':"Alberto",'Apellidos':"GC",'e-mail':"acancino@imp.mx",'Edad':54}
my_data_1

{'Nombres': 'Alberto',
 'Apellidos': 'GC',
 'e-mail': 'acancino@imp.mx',
 'Edad': 54}

In [ ]:
calories.items()

dict_items([('apple', 52), ('banana', 89), ('choco', 546)])

In [ ]:
calories["banana"]

89

In [ ]:
for k, v  in calories.items():
    print(k)
    print(v)
    if v < 90: 
        print(k,v)

apple 52
52
apple 52
banana 89
89
banana 89
choco 546
546
correo gbdiaz@imp.mx
gbdiaz@imp.mx

TypeError: ignored

In [ ]:
for k, v  in calories.items():
    print(k)  if v >  500  else  None

choco

In [ ]:
# Tuplas
c = (0, 1, 2, 3, 'cuatro', 'cinco')
print(c, type(c))

(0, 1, 2, 3, 'cuatro', 'cinco') <class 'tuple'>

In [ ]:
print(c[0])      # Selecciona el primer elemento de la tupla

0

In [ ]:
print(c[5])      # Selecciona el último elemento de la tupla

cinco

In [ ]:
c.append(1)

AttributeError: ignored

In [ ]:
# Operaciones básicas
n_1 = 2
n_2 = 3

print(n_1)
#print('n_1 = {}, n_2 = {},\n n_1 + n_2 = {}'.format(n_1,n_2,n_1 + n_2))

5

In [ ]:

n_1 += n_2
print(n_1,type(n_1))
print('n_1 += n_2\n=> n_1 = {}'.format(n_1))

14 <class 'int'>
n_1 += n_2
=> n_1 = 14

In [ ]:
n_1 = 2
n_2 = 3
print('n_1 = {}, n_2 = \'{}\' '.format(n_1, n_2))

n_1 = 2, n_2 = '3'

In [ ]:
print('n_2 / n_1 = {}'.format(n_2 / n_1))

n_2 / n_1 = 1.5

In [ ]:
n_2 = 5
print(n_1)
print(n_2)
print('n_2 // n_1 = {}'.format(n_2 // n_1))

2
5
n_2 // n_1 = 2

In [ ]:
print('n_1 ** n_2 = {}'.format(n_1 ** n_2))

n_1 ** n_2 = 8

In [ ]:
print('n_1 % n_2 = {} \n'.format(n_2 // n_1))

n_1 % n_2 = 1

In [ ]:
s_1  = 'uno'
s_2 = 'dos'
print('s_1 = {}, s_2 = {},\ns1 + s_2 = {}'.format(s_1,s_2,s_1 + s_2))

s_1 = uno, s_2 = dos,
s1 + s_2 = unodos

In [ ]:
s_1  = 1
s_2 = 2.34534
print('s_1 = {}, s_2 = {},\ns1 + s_2 = {}'.format(s_1,s_2,s_1 + s_2))

s_1 = 1, s_2 = 2.34534,
s1 + s_2 = 3.34534

## Challenge break
### 9
Crear un diccionario con nombre my_data que contenga:
    
    1. Nombres 
    2. Apellidos
    3. E-mail
    4. Edad
    5. Grado de estudios
    6. Formación
    7. Gerencia
    8. Antigüedad (años)
    9. Lenguajes de programación

In [ ]:
# Respuesta
my_data = {"Nombres": "Gabriela Berenice", 
           "Apellidos":"Diaz Cortes",
           "E-mail":"gbdiaz@imp.mx",
           "Edad":35,
           "Grado de estudios":"PhD",
           "Formación":"Fisica",
           "Gerencia":"GIY",
           "Antigüedad (años)":4,
           "Lenguajes de programación":"python,matlab,C,C++"}
print(my_data)

Crear un diccionaro "D" con todas las letras del diccionario en español y asignarles el número de letras, e.g. A tiene valor 1, B valor 2, etc

Imprimir cada letra con su respectivo valor

Seleccionar las letras de tu nombre y sumar los valores correspondientes a cada letra, imprimir tu nombre y el total de la suma

In [ ]:
# Respuesta
D={'A':1, 'B':2, 'C':3, 'D':4, 'E':5, 'F':6, 'G':8, 'H':9, 'I':10 }
print("D: ",D)
print("type(D): ",type(D))

In [ ]:
for k, v  in D.items():
    print(k,v)

In [ ]:
name_value  = D['G'] + D['A'] + D['B'] + D['I']
print(name_value)

### Formatos de salida

In [ ]:
print('Flotante con 2 decimales: %.4f'%321.23576589)

Flotante con 2 decimales: 321.2358

In [ ]:
print('Flotante con 2 decimales: {0:.4f} '.format(321.23576589))

Flotante con 2 decimales: 321.2358

In [ ]:
print('Flotante en notación exponencial con un decimal: {0:.2e}'.format(321.23576589))

Flotante en notación exponencial con un decimal: 3.21e+02

# Challenge break 
### 10.1
Crea una lista que se llame lista_vieja con los siguientes elementos [[1,1,1], [2,2,2],[3,3,3]] y busca su id de referencia en la memoria (usa el comando id()).

Iguala la lista_vieja con otra lista que se llame lista_nueva y busca el lugar de referencia de la nueva lista

lista_nueva = lista_vieja 


Prueba los comandos siguientes:

    lista_vieja == lista_nueva
    
    lista_vieja is lista_nueva

Adiciona la lista [4] a la vieja lista e imprime ambas listas

¿Qué puedes concluir?

In [ ]:
# Respuesta

lista_vieja = [[1,1,1],[2,2,2],[3,3,3]]
print('Id Vieja lista: ',id(lista_vieja))
lista_nueva = lista_vieja
print('Id Nueva lista: ',id(lista_nueva))
lista_vieja

Id Vieja lista:  139789315051392
Id Nueva lista:  139789315051392

[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [ ]:
lista_vieja == lista_nueva

True

In [ ]:
lista_vieja is lista_nueva

True

In [ ]:
lista_nueva.append(4)
print('Vieja lista: ',lista_vieja)
print('Nueva lista: ',lista_nueva)

Vieja lista:  [[1, 1, 1], [2, 2, 2], [3, 3, 3], 4]
Nueva lista:  [[1, 1, 1], [2, 2, 2], [3, 3, 3], 4]

### 10.2
Copia la vieja lista utilizando deep copy y nombrala lista_nueva_2 (importar librería copy, para copiar lista usar comando lista.copy())

import copy


Prueba los comandos siguientes:

    lista_vieja == lista_nueva_2
    
    lista_vieja is lista_nueva_2

Imprime los id's de referencia de la vieja_lista y de la lista_nueva_2

Adiciona la lista [5] en la lista_vieja e imprime lista_vieja y lista_nueva_2

¿Qué puedes concluir?

In [ ]:
# Respuesta
import copy
lista_nueva_3 = copy.copy(lista_vieja)
lista_nueva_2 = lista_vieja.copy()
print('Id Vieja lista: ',id(lista_vieja))
print('Id Nueva lista 2: ',id(lista_nueva_2))
print('Id Nueva lista 3: ',id(lista_nueva_3))

Id Vieja lista:  139789315051392
Id Nueva lista 2:  139789314663936
Id Nueva lista 3:  139789314662592

In [ ]:
lista_vieja == lista_nueva_2

True

In [ ]:
lista_vieja is lista_nueva_2

False

In [ ]:
lista_vieja.append(5)
print('Vieja lista: ',lista_vieja)
print('Nueva lista 2: ',lista_nueva_2)

Vieja lista:  [[1, 1, 1], [2, 2, 2], [3, 3, 3], 4, 5]
Nueva lista 2:  [[1, 1, 1], [2, 2, 2], [3, 3, 3], 4]