# La estructura de datos en serie

Una serie es un n-arreglo unidimensional con etiquetas.

Es un arreglo que te permite almacenar información de diferentes tipos sea por medio de cadenas de texto, flotantes o enteros, entre otros.

In [ ]:
import pandas as pd
pd.Series?

In [ ]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

In [ ]:
numbers = [1, 2, 3]
pd.Series(numbers)

In [ ]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

In [ ]:
numbers = [1, -2, 3, -4, 5, -6, 7, -7, 7, -7, 8, -9, 10, -11, 12]
serie = pd.Series(numbers)
serie

In [ ]:
serie.describe()

In [ ]:
serie.min()

In [ ]:
serie.max()

In [ ]:
serie.abs()

In [ ]:
serie.where(serie > 1)

In [ ]:
serie.where(serie > 1, 0)

In [ ]:
serie.where(serie > 1).dropna()

In [ ]:
serie1 = pd.Series([1, 2, 3, 5, 7])
serie2 = pd.Series([13, 17, 11, 5, 3])

In [ ]:
serie1 < serie2

In [ ]:
serie1 > serie2

In [ ]:
serie1 == serie2

Los diccionarios se pueden convertir en series

In [ ]:
datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

serie = pd.Series(datos)
serie

In [ ]:
serie['a']

In [ ]:
import numpy as np
np.nan == None

In [ ]:
np.nan == np.nan

In [ ]:
np.isnan(np.nan)

In [ ]:
np.isnan(1)

In [ ]:
datos = ['2.3', 'Python', '90', '100', np.nan, '0.5', '.9']

serie = pd.Series(datos)

serie

In [ ]:
serie = serie.dropna()
serie

In [ ]:
datos = [1, 3, 7, 11, 'Python', '-0.5', np.nan]

serie = pd.Series(datos)

serie

In [ ]:
serie.fillna(0, inplace=True)

serie

# La estructura de datos Data Frame con [pandas][]

Pandas DataFrame es una estructura de datos como cualquier tabla con filas y columnas. Los valores de la dataframe pueden ser modficados. Por ello es el objeto de pandas mas comunmente usado. Existen distintas maneras de crear Data Frames. Entre ellas esta la funcion DataFrame().



```
import pandas as pd
pd.DataFrame(data, index, columns)
```

[pandas]:https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html#user-guide


Para crear un data frame se usa la siguiente sintaxis
data: Es el conjunto de datos con el que se crea el Data Frame. Pueden ser una lista, un diccionario, un valor escalar, una serie, un arreglo ndarray, etc.

index: Es opcional, por defecto, el indice empieza en 0 y termina en n-1 para una lista de n valores. Define de manera explicita la etiqueta de las filas.

columns: Se usa para crear los nombres de las columnas. Si no se define el nombre de las columnas, de manera similar toma valores de 0 a n-1

In [ ]:
# Importing Pandas to create DataFrame
import pandas as pd
  
# Creating Empty DataFrame and Storing it in variable df
df = pd.DataFrame()
  
# Printing Empty DataFrame
print(df)

In [ ]:
df

# Formas de crear data Frames


## A partir de listas

In [ ]:
# Primero se crea la lista de datos a usar.
data = [10,20,30,40,50,60]
  
# Se crea la base de datos usando el nombre Numeros para la columna.
df = pd.DataFrame(data, columns=['Numeros'])
  
# Se imprime 
df

In [ ]:
type(df)

## A partir de listas de listas

In [ ]:
# Primero se crea la lista de listas, cada elemento corresponde al par del nombre y edad de una persona.
data = [['juan', 10], ['pepe', 15], ['julia', 14]]
  
# Luego creamos la base de datos 
df = pd.DataFrame(data)

# Se imprime
df

# A partir de diccionarios 
Se puede crear una Data Frame a partir de uno o varios diccionarios. Para hacerlo a partir de uno simplemente lo convertimos a lista y posteriormente a dataframe, para construirlo a partir de varios unimos los diccionarios en una lista

In [ ]:
# Creamos el diccionario
data_1 = {'Nombre': 'juan','Edad':20}
lista = []
lista.append(data_1)
# Hacemos la base de datos a partir de un diccionario 
df = pd.DataFrame(lista)
  
# Imprimimos
df

In [ ]:
# Creamos el segundo diccionario
data_2 = {'Nombre': 'pepe',
        'Edad': 25}

# Agregamos el nuevo diccionario a lista creada anteriormente
lista.append(data_2)

df = pd.DataFrame(lista)
df

In [ ]:
# Se crea la lista con diccionarios
data = [{'a': 1, 'b': 2, 'c': 3},
        {'a': 10, 'b': 20, 'c': 30}]
  
# Se convierte en data frame
df = pd.DataFrame(data)

# Se imprime
df

# A partir de diccionarios con listas
Para crear una Data Frame de un diccionario de arreglos o listas, todos los arreglos deben ser del mismo tamaño. El indice debe ser del mismo tamaño que los arreglos, si no se declara el indice, se toma el tamaño del areglo, n, y el indice es range(n).

In [ ]:
# Creamos el diccionario
data = {'Nombre': ['juan', 'pepe', 'julia', 'ana'],
        'Edad': [20, 21, 19, 18]}

# Hacemos la base de datos a partir del diccionario 
df = pd.DataFrame(data)
  
# Imprimimos
df

Adicionalmente se pueden dar las etiquetas o índices explícitamente

In [ ]:
# Se crea el diccionario
data = {'Nombre': ['juan', 'pepe', 'julia', 'ana'],
        'Calificacion': [99, 98, 95, 90]}

# Se convierte en dataframe y se específica el índice
df = pd.DataFrame(data, index=['Estudiante  1','Estudiante  2','Estudiante  3','Estudiante  4'])
  
# Se imprime    
df

También se puede agregar el nombre de las columnas

In [ ]:
# Primero se crea la lista de listas, cada elemento corresponde al par del nombre y edad de una persona.
data = [['juan', 10], ['pepe', 15], ['julia', 14]]
  
# Luego creamos la base de datos y nombramos las columnas como Nombre y Edad
df = pd.DataFrame(data, columns=['Nombre', 'Edad'], index=['Estudiante 1','Estudiante 2','Estudiante 3'])

# Se imprime
df

## Leer DataFrames

Para leer los dataframes se puede usar la siguiente instrucción:

```
df = pd.read_csv('df.csv')
```

Ahora vamos a leer el Data Frame con los datos del diccionario que mandaron

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
directory = "/content/drive/MyDrive/Cursos/Notebooks/"
df = pd.read_csv(directory + 'df_0.csv' )
df

In [ ]:
df.info()

In [ ]:
columnas = df.columns
columnas

In [ ]:
df.head()

In [ ]:
dfnan =df.dropna()
dfnan

In [ ]:
df.loc[:,['Nombres', 'Apellidos']]

In [ ]:
df.loc[:,['Nombres', 'Apellidos']].dropna()

In [ ]:
df_1 = df.drop(columns=['Nombres', 'Apellidos'])
df_1

## Homogeneización de columnas
Ya que hay varias columnas con la misma información pero con distinto nombre, es necesario unir esas columnas en una sola, para esto primero buscaremos las columnas que sean similares, las pondremos en una sola y eliminaremos las que no sirven.

Para esto es necesario buscar patrones similares en las columnas que queremos unir

In [ ]:
import numpy as np
nombres = []
for i in np.arange(1,len(columnas)):
    if "omb" in columnas[i]:
        nombres.append(columnas[i])
nombres

Sustituímos las entradas que tienen NaN en la columna de "Nombres" por el valor de las otras columnas con el comando **fillna**

Nota. Si no existe la columna se crea automaticamente

In [ ]:
df['Nombres'].fillna(df["Nombre"], inplace=True)
df['Nombres'].fillna(df['1. Nombres'], inplace=True)
df['Nombres'].fillna(df["nombres"], inplace=True)
df['Nombres'].fillna(df["1. Nombre"], inplace=True)
df['Nombres'].fillna(df['Nombres:'], inplace=True)
df['Nombres'].fillna(df['1.Nombre'], inplace=True)

df

Posteriormente eliminamos todas las columnas que no necesitamos con el comando **drop**

In [ ]:
df = df.drop(columns=['Nombre', '1. Nombres', 'nombres', '1. Nombre', 'Nombres:', '1.Nombre'])
df.columns

In [ ]:
df.info()

In [ ]:
# Homogeneizar apellidos
columnas = df.columns
columnas
apellidos = []
for i in np.arange(1,len(columnas)):
    if "llido" in columnas[i]:
        apellidos.append(columnas[i])
apellidos

In [ ]:
df['Apellidos'].fillna(df['2. Apellido'], inplace=True)
df['Apellidos'].fillna(df['Apellido'], inplace=True)
df['Apellidos'].fillna(df['2. Apellidos'], inplace=True)
df['Apellidos'].fillna(df['apellidos'], inplace=True)
df['Apellidos'].fillna(df['Apellidos:'], inplace=True)
df['Apellidos'].fillna(df['2.Apellidos'], inplace=True)
df

In [ ]:
df = df.drop(columns=['2. Apellidos', 'apellidos', 'Apellidos:', '2.Apellidos','Apellido', '2. Apellido'])
df.columns

In [ ]:
df.info()

## Challenge break
### 1
Homogeneiza la columna E-mail

## Tarea moral: homogeneizar todas las columnas faltantes

Vamos a leer los datos ya limpios que se encuentran en el data frame **df_1**

In [ ]:
df = pd.read_csv(directory + 'df_1.csv' )
df

In [ ]:
df.info()

In [ ]:
df["Nombres"]

Para localizar una entrada usamos el comando **iloc**

In [ ]:
df["Nombres"].iloc[31] = "Manuel Chi"

In [ ]:
df["Nombres"]

In [ ]:
df["Edad"]

In [ ]:
df.iloc[30]

In [ ]:
df["Edad"].iloc[30] = np.random.randint(60)
df["Edad"].iloc[30]

In [ ]:
for idx in range(len(df)):
    print(df["Edad"].iloc[idx], type(df["Edad"].iloc[idx]))

In [ ]:
df["Edad"].iloc[3].split()

In [ ]:
Edad = []
for idx in range(len(df)):
    Edad_s = df["Edad"].iloc[idx]
    if isinstance(Edad_s, str):
        Edad_s = Edad_s.split()
        Edad.append(int(float(Edad_s[0])))
    elif isinstance(Edad_s, float):
        Edad.append(int(float(Edad_s)))
    else:
        Edad.append(Edad_s)
    print(Edad_s,type(Edad_s))
print(Edad)

In [ ]:
df["Edad"] = Edad
df

## Challenge break
### 2
Convertir a entero la columna Antigüedad

In [ ]:
df

In [ ]:
df["Grado de estudios"]

In [ ]:
df["Grado de estudios"].unique()

In [ ]:
df = df.replace(np.nan,'Licenciatura')
df["Grado de estudios"].unique()

In [ ]:
df = df.replace('lic','Licenciatura')
df["Grado de estudios"].unique()

In [ ]:
replace_values = {'Maestria':'Maestría','maestria':'Maestría','MC':'Maestría'}
df = df.replace({"Grado de estudios":replace_values})
df["Grado de estudios"].unique()

## Challenge break
### 3

Reemplazar **'Doc', 'Dr.', 'Doctor'** por **'Doctorado'**

In [ ]:
df["Formación"]

In [ ]:
df["Formación"].unique()

In [ ]:
mask = df["Formación"].str.startswith('Ing')
mask

In [ ]:
df.loc[mask,'Formación'] = "Ingeniería"
df

In [ ]:
df["Formación"].unique()

In [ ]:
df = df.replace('Petrolera','Ingeniería')
df["Formación"].unique()

In [ ]:
df = df.replace('Geologo', 'Geólogo')
df["Formación"].unique()

In [ ]:
df = df.replace('Geológo', 'Geólogo')
df["Formación"].unique()

In [ ]:
df = df.replace('Comp Science', 'Ciencias de la computación')
df["Formación"].unique()

## Challenge break
### 4

Reemplazar **'Físico'** por **'Física'**

In [ ]:
df = df.replace('Físico', 'Física')
df["Formación"].unique()

In [ ]:
df

In [ ]:
Gerencia = df["Gerencia"].copy()
Gerencia.unique()

In [ ]:
idx = np.where(Gerencia.str.contains('titativa'))
print(idx)
Gerencia.iloc[idx]
Gerencia[idx[0]] = "GC"

In [ ]:
Gerencia.unique()

In [ ]:
idx = np.where(Gerencia.str.contains('cimi'))
print(idx)
Gerencia.iloc[idx]
Gerencia[idx[0]] = "IY"

In [ ]:
Gerencia.unique()

In [ ]:
idx = np.where(Gerencia.str.contains('talle'))
print(idx)
Gerencia.iloc[idx]
Gerencia[idx[0]] = "ID"

In [ ]:
Gerencia.unique()

In [ ]:
idx = np.where(Gerencia.str.contains('rram'))
print(idx)
Gerencia.iloc[idx]
Gerencia[idx[0]] = "HyS"

In [ ]:
Gerencia.unique()

In [ ]:
Gerencia = Gerencia.replace('Perforación y Terminación',"PyT")
Gerencia = Gerencia.replace('Gpyt',"PyT")
Gerencia = Gerencia.replace('PyT',"PyT")
Gerencia = Gerencia.replace('geologia',"Geo")
Gerencia = Gerencia.replace('Ingeniería y servicios',"IyS")
Gerencia = Gerencia.replace('Ductos y Materiales',"DyM")
Gerencia = Gerencia.replace('Gerencia de Soluciones en Exploración',"SE")
Gerencia = Gerencia.replace('Ingenieria de Recuperación adicional',"RA")
Gerencia = Gerencia.replace('Geología Predictiva',"SE")
Gerencia = Gerencia.replace('GIY',"IY")
Gerencia.unique()

In [ ]:
df["Gerencia"] = Gerencia
df

In [ ]:
df["Lenguajes de programación"].unique()

In [ ]:
Lenguajes = df["Lenguajes de programación"].copy()

In [ ]:
idx = np.where(Lenguajes.str.contains('guno'))
print(idx)
Lenguajes.iloc[idx]
Lenguajes[idx[0]] = "Ninguno"
Lenguajes.unique()

In [ ]:
df["Lenguajes de programación"] = Lenguajes
df

Guardamos el dataframe limpio

In [ ]:
df.to_csv(directory +'df_2.csv',index = False)

# Analisis de datos con pandas
Ahora analizaremos la base de datos limpia (si no lo tenemos en la memoria lo cargamos)

In [ ]:
import pandas as pd
df = pd.read_csv(directory+'df_2.csv' )
df.head()

In [ ]:
df.iloc[0]

In [ ]:
df.loc['Alberto']

In [ ]:
df.index

In [ ]:
df_names = df.set_index("Nombres")
df_names.index

In [ ]:
df_names.loc['Alberto']

In [ ]:
type(df_names.loc['Alberto'])

In [ ]:
df_names.loc['Rita']

In [ ]:
type(df_names.loc['Rita'])

In [ ]:
df_names.loc['Rita', 'Gerencia']

In [ ]:
df_names.T

In [ ]:
df_names.T.loc['Grado de estudios'].unique()

In [ ]:
df_names.loc['JOSE ALBERTO']['Antigüedad']

In [ ]:
df_names.loc[:,['Edad', 'Antigüedad']]

In [ ]:
df_names.loc[:,['Edad', 'Antigüedad']].describe()

In [ ]:
df_names.columns

In [ ]:
df_names.T.columns

In [ ]:
df_names['Grado de estudios'].unique()

In [ ]:
Grado = df_names['Grado de estudios'].value_counts()
Grado

In [ ]:
df_names[df_names['Grado de estudios'] == 'Maestría']

In [ ]:
Formacion = df_names['Formación'].value_counts()
Formacion

In [ ]:
Gerencia = df_names['Gerencia'].value_counts()
Gerencia

In [ ]:
Lenguajes = df_names['Lenguajes de programación'].value_counts()
Lenguajes

In [ ]:
df_names[df_names['Lenguajes de programación'] == 'Ninguno']

## Visualización con [pandas][]
Los tipos de graficas osn los sigientes:

`kind` :
- `'line'` : line plot (default)
- `'bar'` : vertical bar plot
- `'barh'` : horizontal bar plot
- `'hist'` : histogram
- `'box'` : boxplot
- `'kde'` : Kernel Density Estimation plot
- `'density'` : same as 'kde'
- `'area'` : area plot
- `'pie'` : pie plot
- `'scatter'` : scatter plot
- `'hexbin'` : hexbin plot

[pandas]:https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html

In [ ]:
columns = ['Edad','Antigüedad']
df[columns].plot()

In [ ]:
idx = np.where(df["Edad"]>100)
df.iloc[idx]
df_1 = df.drop(37)
df_1

In [ ]:
df_1.plot('Edad','Antigüedad', kind = 'scatter')

In [ ]:
df["Index"] = df.index
df_1["Index"] = df_1.index
df

In [ ]:
df.plot(x="Index",y='Edad', color='magenta', kind = 'scatter')

In [ ]:
df_1.plot(x="Index",y='Edad', color='magenta', kind = 'scatter')

In [ ]:
df_1.iloc[0:10].plot(x="Index",y='Edad',  marker="d",markersize=5,color='magenta')

In [ ]:
df_1.Edad.plot()
df_1.Antigüedad.plot()

In [ ]:
df_1.Edad.plot()
df_1.Antigüedad.plot(secondary_y=True)

# Histogramas

In [ ]:
df_1["Edad"].plot.hist()

In [ ]:
df_1["Edad"].plot.hist(bins=40)

In [ ]:
# Varios histogramas
columns = ['Edad','Antigüedad']
df_1[columns].plot.hist(bins=40)

In [ ]:
# Varios histogramas
columns = ['Edad','Antigüedad']
df_1[columns].iloc[0:-1].plot.hist(bins=40,alpha=.4)

In [ ]:
df_1[columns].plot.hist(subplots=True, layout=(1,2), figsize=(16,5), colormap='cool')

In [ ]:
# Barras verticales
df_1[columns].plot.bar(figsize=(16,5))

In [ ]:
# Barras horizontales
df_1[columns].plot.barh(figsize=(5,10))

In [ ]:
# Barras verticales encimadas
df_1[columns].plot.bar(stacked=True,figsize=(16,5))

In [ ]:
df_1[columns].plot.barh(stacked=True,figsize=(5,10))

In [ ]:
# Scatter plots
from pandas.plotting import scatter_matrix
scatter_matrix(df_1[columns].iloc[:-1], diagonal='kde')

## Diagrama hexadecimal (hexbin)
Un diagrama de hexadecimal es útil para representar la relación de 2 variables numéricas cuando tiene muchos puntos de datos. Sin la superposición de los puntos, la ventana de trazado se divide en varios cubos hexagonales. El color de cada cubo hexagonal indica el número de puntos que contiene. 
Algunos mapas de color se puenen encontrar en el siguente enlace: [mapas](https://matplotlib.org/stable/tutorials/colors/colormaps.html)

In [ ]:
df_1.iloc[:-1].plot.hexbin(x='Edad',y='Antigüedad', gridsize=25, colormap='magma')

## Guardar DataFrames

Para guardar los dataframes se puede usar las siguientes instrucciones:

```
df.to_csv('df.csv')
df.to_excel("df.xlsx")
df.to_csv(r'Datos.txt', header=None, index=None, sep='\t', mode='a')
```

In [ ]:
df_names.to_csv('df_names.csv')

In [ ]:
df.to_csv('df.csv')

In [ ]:
df_names.to_excel('df_names.xlsx')

In [ ]:
df_names.to_excel('df_names.xlsx',sheet_name='Datos')

In [ ]:
df.to_csv(r'Datos_1.txt', sep='\t', mode='a')

In [ ]:
df.to_csv(r'Datos.txt', header=None, index=None, sep='\t', mode='a')

## Leer DataFrames

Para leer los dataframes se puede usar la siguiente instrucción:

```
df = pd.read_csv('df.csv')
```

Un análisis de los tiempos de lectura se puede encontrar en esta [liga][]

[liga]:https://pythonspeed.com/articles/pandas-read-csv-fast/

In [ ]:
df_read = pd.read_csv('df_names.csv')
df_read

In [ ]:
df_read = pd.read_csv('df.csv')
df_read

In [ ]:
df_read = pd.read_csv('df_names.csv', index_col=0)
df_read

In [ ]:
df_read = pd.read_excel('df_names.xlsx', index_col=0)
df_read

In [ ]:
df_read = pd.read_csv('Datos.txt', sep="\t")
df_read

In [ ]:
df_read = pd.read_csv('Datos.txt', sep="\t", header=None)
df_read

In [ ]:
df_read.iloc[0]

In [ ]:
df_read.iloc[0][0]